<div [@transition]='state' class="main-container">
    <!-- Note: .main-container-child gives a global padding to the view. -->
    <div class="main-container-child">

        <!-- Page Header -->
        <div class="page-header flex-align-items">
            <!-- Page Actions -->
            <div class="flex flex-align-items">
                <h2 class="page-title">Test</h2>
            </div>
        </div>
        <hr>
        <div class="page-body">
            <h4>servicestack/client: 1.0.9</h4>
            <br />
            <h2>Request is running to an API of mine, refreshToken is valid, see console F12</h2>
            <br />
            <br />
            <h2>see /src/app/sandbox/test/component.ts for the ServiceStack code</h2>
        </div>
        <!-- .page-body -->

        <!-- main-container-child -->
    </div>
</div>