.ui-container{
    margin: 5px 5px 5px 5px;
    padding: 20px;
    width: 500px;
}

.main-blue{
    color: $blue-main;
}
.main-yellow{
    color: $yellow-main;
}
.na {
    color: #4f9fcf;
}
.nt {
    color: #2f6f9f;
}
.component-attributes{
    margin-bottom: 0px;
}
.s{
    color:#bd4147;
}
.g{
    color:green
}